/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .header {
    border-bottom: 1px solid #ccc;
 }

 .header-nav {
     display: flex;
     justify-content: space-between;
     padding: 5px;
 }

.left-header-items .nav-button {
    margin-top: 10px;
}

 .right-nav {
     display: flex;
 }

 .left-header-items {
     display: flex;
     flex-direction: row;
     align-items: flex-end;
 }

 .right-header-items {
     display: flex;
 }

 .logo {
     margin-bottom: 3px;
     margin-left: 5px;
     margin-right: 10px;
     color: #e51075;
     font-size: 45px;
     font-weight: 500;
     font-family: 'Passion One', cursive;
     /* ￼-webkit-font-smoothing: antialiased; */
     /* -webkit-font-smoo */
 }


 .nav-button {
     font-weight: 900;
     cursor: pointer;
     font-size: 17px;
     display: block;
     padding: 10px 20px;
     font-family: 'Lato', sans-serif;

 }

 .nav-button:hover {
    color: #e51075;
 }
 
 .header-logo .nav-button {
    margin-bottom: 8px;
}

.right-header-items li {
    margin-top: 10px;
}

.home-slide {
    z-index: -1;
    height: 630px;
    width: 100%;
}


.featured-product {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: .75rem;
    background: rgba(0,0,0,.6);
    text-decoration: none;
    box-sizing: border-box;
}

.featured-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-position: 50% center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 655px;
    /* top: 0; */
    transition: ease-in-out;
    /* box-sizing: border-box; */
}

/* .gray-out {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 630px;
    z-index: 999;
} */

.featured-image3 {
    filter: brightness(60%);
    background-image: url(https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1580497863/ttlalzgbzpa4ndfpzycp.png);
}

.featured-image2 {
    filter: brightness(60%);
    background-image: url(https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1580147168/wk0yiaosxx6cdo5bcri4.png);
}

.featured-image1 {
    filter: brightness(60%);
    background-image: url(https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1580949362/onanvy5ta2wewv2r8ijr.png);  
 }

 .slide-content {
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     position: absolute;
     /* margin-right: 150px; */
     /* margin-top: 200px; */
     color: white;
     font-size: 25px;
     width: 100%;
     height: 630px;
     filter: brightness(100%);
 }

 .move-content {
    margin-right: 200px;
    /* margin-top: 50px; */
    /* top: 100px; */
    height: 350px;
    width: 400px;
 }

 .featured-carousel .slick-prev {
     left: 1530px !important;
     bottom: -100px !important;
     margin: auto;
     z-index: 5;
 }

 .featured-carousel .slick-next {
     right: 420px !important;
     margin: auto !important;
     bottom: -100px !important;
 }

.featured-carousel .slick-prev:before, .featured-carousel .slick-next:before {
    font-size: 60px !important;
    z-index: 5 !important;
    color: white !important;
 }


 /* @media only screen and (max-width: 1700px) and (min-height: 100px) { */
.image-blocks {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    /* max-width: 100%; */
    max-height: 70%;
    bottom: -40px;
    /* background-color: blue; */
}

/* @media only screen and (max-width: 90%) {
    .image-blocks {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
        max-height: 70%;
        bottom: -800px;
    }
} */


.all-images {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.image-blocks a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

 .image1 {
     background-size: cover;
     background-repeat: no-repeat;
    
     background-image: url(https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1582594054/ded5gumwfuw5waidbgyj.jpg);
 }

 .image2 {
    background-size: cover;
    background-repeat: no-repeat;
 
    background-image: url(https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1582593421/brzaet0dzhaptrwl8fo0.jpg);
 }

 .image3 {
    background-size: cover;
    background-repeat: no-repeat;

    background-image: url(https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1582075857/aqertp13ykotkbuphali.png);
 }

 .image4 {
    background-size: cover;
    background-repeat: no-repeat;
    
    background-image: url(https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1545951428/ssy8asu7e9f8di3wbo52.jpg);
 }

 .squre {
    width: 680px;
    height: 420px;
 }

 .image-text {
     font-weight: 600;
     color: white;
     font-size: 43px;
     position: absolute;
 }
 
 .content-carousel {
     display: flex;
     justify-content: center;
 }

 .popular-projects {
     position: relative;
     bottom: -50px;
     font-size: 30px;
     height: 800px;
     width: 1450px;
     margin: auto;
     /* background-color: teal; */
 }

 .popular-projects h3 {
     margin-left: 20px;
 }

.slick-prev:before, .slick-next:before {
    color: #222222 !important;
    font-family: slick;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-size: 100px; */
}

.search-icons {
    position: relative;
    bottom: -25px;
    display: flex;
    justify-content: center;
}

.icon-container {
    text-align: center;
    width: 100%;
}

.search-icons h1 {
    font-size: 40px;
}

.search-icons h3 {
    font-weight: 100;
    font-size: 25px;
}

.icons {
    width: 90%;
    height: 200px;
    margin: auto;
}

.icons p {
    width: 68px;
}

.icons i {
    font-size: 65px;
    color: #e51075;
    /* margin-left: 95px;
    margin-right: 95px;
    margin-top: 20px;
    margin-bottom: 10px; */
}

.inner-icon {
    display: inline-grid;
    margin-left: 95px;
    margin-right: 95px;
    margin-top: 27px;
    transition: transform .2s; 
    /* margin-bottom: 30px; */
}

.inner-icon:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.inner-icon a {
    margin-bottom: 15px;
}