/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .header {
    border-bottom: 1px solid #ccc;
 }

 .header a {
     display: block;
     padding: 10px 20px;
 }

 .header-nav {
     display: flex;
     justify-content: space-between;
 }

 .right-nav {
     display: flex;
 }

 .left-header-items {
     display: flex;
     flex-direction: row;
     align-items: flex-end;
 }

 .right-header-items {
     display: flex;
 }

 .logo {
     color: #e51075;
     font-size: 31px;
     font-weight: 1000;
     /* ￼-webkit-font-smoothing: antialiased; */
     /* -webkit-font-smoo */
 }

 .nav-button {
     font-weight: bolder;
 }

 .nav-button:hover {
    color: #e51075;
 }

 .header-logo .nav-button {
     margin-bottom: 8px;
 }

 .right-header-items li {
     margin-top: 10px;
 }

 .signup-pop {
     width: 100%;
     height: 100%;
     background-color: rgba(0,0,0,0.7);
     position: absolute;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1;
     display: none;
 } 

 .signup-content {
     width: 500px;
     height: 840px;
     background-color: whitesmoke;
     border-radius: 4px;
     /* padding: 15px; */
     display: block;
     position: relative;
    }

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 45px;
    transform: rotate(45deg);
    cursor: pointer;
}

.close:hover {
    color: #e51075;
}
    
.top-modal {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 30px;
 }

 .signup-content label {
     display: block;
     margin-left: 65px;
     margin-bottom: 50px;
     width: 50%;
     font-size: 20px;
    }

.signup-content input {
     border: 1px solid black;
     height: 45px;
     width: 355px;
     padding-left: 10px;
 }

 .signup-content h1 {
     font-size: 40px;
     padding-bottom: 20px;
 }

 .signup-submit {
     text-align: center;
     background-color: #e51075;
     color: white;
     font-size: 20px;
     margin-left: 65px;
     margin-bottom: 40px;
     margin-top: 20px;
 }

 /* .featured-carousel {
     height: 655px;
     width: 100%;
 } */

.home-slide {
    height: 655px;
    width: 100%;
}

 .featured-product {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: .75rem;
    background: rgba(0,0,0,.6);
    text-decoration: none;
    box-sizing: border-box;
 }

 .featured-image {
     background-size: cover;
     background-position: 50% center;
     background-repeat: no-repeat;
     position: absolute;
     width: 100%;
     height: 655px;
     /* top: 0; */
     transition: ease-in-out;
     /* box-sizing: border-box; */
     background-image: url(https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1580949362/onanvy5ta2wewv2r8ijr.png);
 }


 /* @media only screen and (max-width: 1700px) and (min-height: 100px) { */
.image-blocks {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    /* max-width: 100%; */
    max-height: 70%;
    bottom: -40px;
    /* background-color: blue; */
}

/* @media only screen and (max-width: 90%) {
    .image-blocks {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
        max-height: 70%;
        bottom: -800px;
    }
} */


.all-images {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.image-blocks a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

 .image1 {
     background-size: cover;
     background-repeat: no-repeat;
    
     background-image: url(https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1582594054/ded5gumwfuw5waidbgyj.jpg);
 }

 .image2 {
    background-size: cover;
    background-repeat: no-repeat;
 
    background-image: url(https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1582593421/brzaet0dzhaptrwl8fo0.jpg);
 }

 .image3 {
    background-size: cover;
    background-repeat: no-repeat;

    background-image: url(https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1582075857/aqertp13ykotkbuphali.png);
 }

 .image4 {
    background-size: cover;
    background-repeat: no-repeat;
    
    background-image: url(https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1545951428/ssy8asu7e9f8di3wbo52.jpg);
 }

 .squre {
    width: 680px;
    height: 420px;
 }

 .image-text {
     font-weight: 600;
     color: white;
     font-size: 43px;
     position: absolute;
 }
 
 .content-carousel {
     display: flex;
     justify-content: center;
 }

 .popular-projects {
     position: relative;
     bottom: -50px;
     font-size: 30px;
     height: 800px;
     width: 1450px;
     margin: auto;
     /* background-color: teal; */
 }

 .popular-projects h3 {
     margin-left: 20px;
 }

.slick-prev:before,
.slick-next:before
{
    color: #222222 !important;
    font-family: slick;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.search-icons {
    position: relative;
    bottom: -33px;
    display: flex;
    justify-content: center;
}

.icon-container {
    text-align: center;
    width: 100%;
}

.search-icons h1 {
    font-size: 40px;
}

.search-icons h3 {
    font-weight: 100;
}

.icons {
    width: 90%;
    height: 200px;
    margin: auto;
}

.icons p {
    width: 68px;
}

.icons i {
    font-size: 65px;
    color: #e51075;
    /* margin-left: 95px;
    margin-right: 95px;
    margin-top: 20px;
    margin-bottom: 10px; */
}

.inner-icon {
    display: inline-grid;
    margin-left: 95px;
    margin-right: 95px;
    margin-top: 27px;
    transition: transform .2s; 
    /* margin-bottom: 30px; */
}

.inner-icon:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.inner-icon a {
    margin-bottom: 15px;
}