.campaign-content{
    margin-top: 27px;
    display: table-caption;
    width: 810px;
    align-items: center;
}
.create-content {
    display: flex;
    flex-direction: column;
    /* margin-left: 500px; */
    /* justify-content: center; */
}

.create-content input {
    border: 1px solid gray;
    margin-top: 9px;
    font-size: 18px;
    height: 45px;
    padding-left: 9px;
}

.create-content textarea {
    border: 1px solid gray;
    margin-top: 9px;
    font-size: 18px;
    padding: 9px;
}

form {
    display: grid;
    justify-content: center;
}

form > h1 {
    font-size: 72px;
    text-align: center;
    margin-bottom: 22px;
}

.create-content > label {
    display: inline-grid;
    margin-bottom: 31px;
    font-size: 27px;
    font-weight: 600;
}

.create-content label .inner-campaign-text{
    color: gray;
    font-size: 18px;
}

.campaignform-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.campaignform-image > img {
    height: 450px;
    width: 630px;
}

.campaign-text {
    font-size: 34px;
    font-weight: 600;
    margin-top: 18px;
}

.instructions {
    font-size: 22px;
    font-weight: 400;
    width: 1080px;
    margin-bottom: 72px;
    margin-top: 27px;
}

.campaign-submit {
    margin-bottom: 72px;
    width: 225px;
    color: white;
    background-color: #e51075;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
}

.submit-contain {
    width: 100%;
    margin-top: 18px;
    display: flex;
    justify-content: center;
}