
.campaign-item {
    font-family: 'Source Sans Pro', sans-serif;
}

.header-image {
    background-size: cover;
    background-position: 50% center;
    background-repeat: no-repeat;
    /* position: absolute; */
    width: 100%;
    height: 360px;
    background-image: url(https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1580147168/wk0yiaosxx6cdo5bcri4.png);
}

.catname-contain {
    display: flex;
    justify-content: center;
}

.cat-name {
    text-align: center;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    margin-top: 40px;
    border-bottom: 1px solid gray;

}

.allcontain {
    display: flex;
    justify-content: flex-end;
    font-family: 'Lato', sans-serif;
    padding-left: 4%;
    
}

.cat-contain {
    width: 10%;
    margin-top: -30px;
    margin-right: 40px;
}

.cat1{
    font-size: 25px;
    margin-bottom: 20px;
    color: gray;
}

.cat-switch{
    /* display: flex; */
    /* justify-content: space-around; */
    /* width: 80%; */
    font-size: 18px;
    font-weight: 100;
    /* border: 1px solid gray; */
}

.switch-tab {
    /* border: 1px solid gray; */
    /* text-align: center; */
    padding: 10px;
}

.switch-tab:hover {
    color: #e51075;
    transform: scale(1.3);
}

.items-container {
    display: flex;
    width: 80%;
    height: 100%;
    /* margin: auto; */
    margin-top: 65px;
    justify-content: flex-start;
}

.list-of-items {
    /* justify-content: center; */
    display: flex;
    flex-wrap: wrap;
}

.camp-item {
    width: 270px;
    height: 530px;
    border: 1px solid darkgray;
    margin: 18px;
    background-color: snow;
}

.campimage1 {
    height: 270px;
}

.heart-bar {
    padding: 10px;
    font-weight: 900;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    /* z-index: 500; */
}

.fund-text {
    color: #088366;
    font-weight: 600;
    font-size: 13px;
}

.heart {
    color: gray;

}

.deet-holder {
    width: 100%;
}

.percent {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.space {
    height: 129px;
}


.camp-content {
    padding: 15px;
    height: 180px;
    /* margin-bottom: 5px; */
}

.camp-content h1 {
    font-size: 18px;
    color: black;
    margin-bottom: 9px;
    font-weight: 700;
    word-break: break-all;

}

.short-dis {
    color: black;
    font-size: 14px;
    /* word-break: break-all; */
}

.tile-bar{
    height: 10px;
    background-color:#dddddd;
    position: relative;
    border-radius: 10px;
}
.tile-bar-done {
    height: 10px;
    background-color: #35CA97;
    position: absolute;
    top: 0px;
    left: 1px;
    border-radius: 10px;
}

.goal-amt {
    font-weight: 800;
}

.days-left{
    margin-top: 13px;
    font-size: 15px;
}

.fa-clock {
    color: gray;
}

.campaign-item {
    list-style-type: none;
    transition: transform .2s; 
}

.campaign-item:hover {
    transform: scale(1.07);
    /* box-shadow: 5px; */
}

.slick-prev:before,
.slick-next:before
{
    color: #222222 !important;
    font-family: slick;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
