.short-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
    margin-top: 36px;
}

.short-campaign-content {
    display: flex;
    justify-content: center;
    width: 66%;
    margin-bottom: 9px;
}

.short-content {
    margin-left: 36px;
}

.lower-short {
    margin-top: 22px;
}

.campaign-showimage{
    height: 90px;
    width: 90px;
}

.camp-video {
    z-index: -1;
}

.over-lay {
    height: 0;
}

.over-lay > img {
    display: flex;
    position: absolute;
    width: 720px;
    height: 495px;
    /* z-index: -1; */
}

.fa-play-circle{
    font-size: 90px;
    position: relative;
    color: white;
    bottom: -207px;
    right: -319px;
    cursor: pointer;
}

.campaign-stage {
    color: green;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

.campaign-showtitle {
    font-weight: 600;
    font-size: 36px;
    margin-top: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

.campaign-showshort {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
}

.long-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

.long-content h1 {
    font-size: 31px;
    font-weight: 600;
    margin-bottom: 18px;
}

.long-campaign-content {
    width: 60%;
    font-size: 27px;
    display: block;
}


