.short-container {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gray;
    margin-top: 36px;
}

.short-campaign-content {
    display: flex;
    justify-content: center;
    width: 66%;
    margin-bottom: 9px;
}

.short-content {
    margin-left: 36px;
    word-break: break-all;
}

.lower-short {
    margin-top: 22px;
}

.campaign-showimage {
    display: flex;
    margin-bottom: 20px;
    /* height: 160px; */
}

.campaign-showimage > img{
    height: 90px;
    width: 90px;
    margin-right: 10px;
}

.camp-video {
    z-index: -1;
}

.over-lay {
    height: 0;
}

.over-lay > img {
    display: flex;
    position: absolute;
    width: 720px;
    height: 495px;
    /* z-index: -1; */
}

.bar-container {
    font-family: 'Source Sans Pro', sans-serif;
}

.percent1 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;

}

.bar-text {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin-top: 10px;
    font-size: 20px;
}

.tile-bar1{
    height: 10px;
    background-color:#dddddd;
    position: relative;
    border-radius: 10px;
    /* width: 100px; */
}
.tile-bar-done1 {
    height: 10px;
    background-color: #35CA97;
    position: absolute;
    top: 0px;
    left: 1px;
    border-radius: 10px;
}

.fa-play-circle{
    font-size: 90px;
    position: relative;
    color: white;
    bottom: -207px;
    right: -319px;
    cursor: pointer;
}

.campaign-stage {
    color: green;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

.campaign-showtitle {
    font-weight: 900;
    font-size: 36px;
    margin-top: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

.campaign-showshort {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
}

.long-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 36px;

}

.long-content h1 {
    font-size: 31px;
    font-weight: 600;
    margin-bottom: 18px;
}

.long-campaign-content {
    width: 60%;
    font-size: 27px;
    display: block;

}

.button-container {
    display: flex;
}

.campaign-button {
    margin-top: 24px;
    text-align: center;
    height: 45px;
    width: 115px;
    border: 1px solid darkgray;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

.back {
    font-weight: 900;
    background-color: #e51075;
    color: white;
    margin-right: 15px;
    border-radius: 3px;
}

.follow-it {
    color: black;
    background-color: white;
    font-weight: 900;
    border-radius: 3px;
}

.follow-content{
    display: flex;
    justify-content: space-between;
}

.social-icons {
    margin-top: 29px;
    font-size: 21px;
    color: gray;
}

.fa-instagram {
    margin-left: 15px;
}

.fa-twitter {
    margin-left: 15px;
}

.fa-link {
    margin-left: 15px;
    margin-right: 5px;
}

.owner-bar {
    display: flex;
    justify-content: space-around;
    background-color: black;
    height: 50px;
    font-size: 30px;
    color: white;
}

.camplongdisc {
    word-break: break-all;
}